{% extends "base.html" %}

{% block title %}my django app{% endblock %}

{% block head %}
<script type="text/javascript">
	$.ajax({
  url: "/base/recent_activity",
  cache: false
})
  .done(function( data ) {
    $( "#right_nav" ).html( data );
  });
</script>
{% endblock %}

{% block top_nav %}
<div id="top_nav_small">
<h3>my clever page title
</h3>
</div>
{% endblock %}
{% block menus %}
<div id="left_nav">
	<ul>
	<li><a href="/">home</a></li>
	<li><a href="/blog">blogs</a></li>
	<li><a href="/tutorials">tutorials</a></li>
	</ul>
</div>
<div id="right_nav">
</div>
{% endblock %}

{% block content %}
{% endblock %}