{% extends "menus.html" %}

{% block title %}design heap{% endblock %}

{% block top_nav %}
<div id="top_nav">
<h1>design heap
</h1>
</div>
{% endblock %}

{% block content %}
<div class="main_content_blog">
<h2>welcome</h2>
<p class="main_content_blog_text">Welcome to my programming playground. Here
I post tips and tricks that enable me to be a lazy programmer. Occasionally,
I post a pet project with Arduino or Python or whatever.
</p>
<p class="main_content_blog_text">Hopefully you find something here useful!
</p>
<h3>about</h3>
<br/>
<img
src="/media/images/webcam-toy-photo2.jpg"
class="album_photo">
<div class="album_thumbnail_strip">
<br/>
    By day, I'm a business analyst and
    software developer. I spend most of my time in SQL, Python, and .Net
    applications, but I also dabble in Arduino and other random projects. I
    like being professionally lazy, so most of my tips and tricks revolve
    around automation and efficiency. Thanks for visiting!
</div>
<br/>
</div>
{% endblock %}